---
import Footer from '../components/Footer.astro';
import Styles from '../styles/global.css';
import Navigation from '../components/Navigation.astro';

---
<html style="background-color:rgb(28, 0, 128);>
		    <!-- responsive meta -->
			<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=3"
			  />  
<Navigation />
</html>
<br>
<body >
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

  <div class="max-w-screen-l flex flex-wrap items-center justify-between mx-auto p-5"></div>
    <h1> About Us</h1>
    <h2> We have highly expereinced and dedicated staff with mutiple decades of expereince in building Technical Solutions. 
      We have Individuals who has multiple AWS Cloud certification and has through experience in building very complex Solutions.Our teams provides the entire range of IT solutions from strategy consulting to implementation and maintenance across a range of vertical domains.We offer a full-suite of end-to-end services Including project support specialized project services, 
      vendor management, eBusiness end other specialty services.We specialize in building Next Gen technologies such as Generative AI, Machine Learning, WebApp and Mobile Apps , Migrating Applications to Cloud and End-End Application Integrations</h2>
        <br>
  
    <li><a href="/genai.pdf"> Additional Info on AWS Whitepaper on GenAI</a></li>
  </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
  <Footer />
</body>
</html>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
    color: white;
		margin-bottom: 1em;
	}
	h2 {
		font-size: rem;
		font-weight: 100;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color:white;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(48ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	html {
    background-color: rgb(28, 0, 128);
    font-family: sans-serif;
	}
</style>