---
import Footer from '../components/Footer.astro';
import Styles from '../styles/global.css';
import Navigation from '../components/Navigation.astro';

---
<html style="background-color:rgb(28, 0, 128);>
		    <!-- responsive meta -->
			<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=3"
			  />  
<Navigation />
</html>
<br>
<body >
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

  <div class="max-w-screen-l flex flex-wrap items-center justify-between mx-auto p-5"></div>
    <h1> Industry Expertise </h1>
    <h2> Banking & Finance</h2>
    <h3> With decades of experience in the Finance and Banking industry, we specialize in developing secure, scalable applications that drive business success. Our deep expertise spans across building both external user portals (for customer-facing interactions) and internal user portals (for backend management), ensuring seamless user experiences across all touchpoints. Additionally, we have extensive experience in designing and implementing web applications for processing payment transactions, leveraging the latest technologies to ensure speed, security, and compliance.
    </h3>
    <br>
    <br>
    <h2> Health Care</h2>
    <h3> With decades of experience in the healthcare sector, we specialize in developing innovative, secure, and compliant applications that enhance both patient care and operational efficiency. Our expertise includes building user-friendly external portals for patients and caregivers, as well as robust internal portals for healthcare providers and administrators. We also have extensive experience in developing web applications for processing healthcare transactions, ensuring seamless integration with existing systems, while maintaining strict adherence to regulatory standards such as HIPAA for data privacy and security.
    </h3>
    <br>
    <h2> Retail & Manufacturing</h2>
    <h3> Our expertise spans developing intuitive external portals for e-commerce and customer interactions, as well as robust internal portals for inventory management, order processing, and analytics. We also have extensive experience in creating web applications for seamless payment processing and point-of-sale (POS) systems, ensuring fast, secure transactions that enhance the overall shopping experience. Our solutions are designed to adapt to the ever-evolving needs of the retail industry, driving growth and customer satisfaction.
    </h3>
    <br>
    
  </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
  <Footer />
</body>
</html>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
    color: white;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 2rem;
		font-weight: 500;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
		color:white;
	}
    h3 {
		font-size: rem;
		font-weight: 100;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
		color:white;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(48ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	html {
    background-color: rgb(28, 0, 128);
    font-family: sans-serif;
	}
</style>