---
import Footer from '../components/Footer.astro';
import Styles from '../styles/global.css';
import Navigation from '../components/Navigation.astro';

---
<html>
<body>
  <Navigation />
    <h1>GENERATIVE AI</h1>
    <h1> GEN AI Based Development</h1>
    <h2> We Specialize in GEN AI based applications on AWS and AZURE OpenAI</h2>
    <image src="../images/AI2.jpg" alt="Newtronix" width="1000" height="500" center></image>
    <li><a href="/genai.pdf">GEN AI Descriptionk</a></li>
  </body>
  <Footer />
</body>
</html>