---
import 'aos/dist/aos.css';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import Card from '../components/Card.astro';
import Slide from '../components/Slide.astro';
import GenAI from '../pages/genai.astro';
import Cloud from '../pages/cloud.astro';
import ML from '../pages/ml.astro';
import WebMobile from '../pages/webmobile.astro';
import ApplicationIntegration from '../pages/applIntegration.astro';
---

<html style="background-color:rgb(28, 0, 128);>

	    <!-- responsive meta -->
		<meta name="viewport" content="width=device-width"
		  />  
<Navigation/>
</html>
<br>
<br>
<div class="max-w-screen-l flex flex-wrap items-center justify-between mx-auto p-5">
<Slide/>
</div>
<br>
<br>
<div class="max-w-screen-l flex flex-wrap items-center justify-between mx-auto p-5">
	<body> 
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
		<script>
			import AOS from "aos";
			AOS.init();
		  </script>
		
		<h1 data-aos="flip-up" data-aos-delay="300">Newtronix NextGen Technologies</h1>
		
		<h2 data-aos="fade-up" data-aos-delay="300"> We are a software solutions provider dedicated to delivering exceptional value through high-quality, cost-efficient processes. Our expertise lies in developing cutting-edge IT solutions, specializing in Generative AI, Machine Learning, Mobile Application Development, and Web Application Development.</h2>
		<br>
		<ul role="list" class="link-card-grid">
			<Card
				href="/genai/"
				title="GEN AI Solutions"
				body="We specialize in developing Generative AI-based solutions tailored to any industry and use case, supported by leading platform vendors to meet your specific needs. "
			/>
			<Card
				href="/ml/"
				title="Machine Learning"
				body=" We build and support both new and existing machine learning solutions, ensuring compatibility with platforms endorsed by major software vendors."
			/>
			<Card
				href="/webmobile/"
				title="Mobile App Development"
				body="We develop new mobile apps and support existing ones, tailored to your organization's unique needs on both iOS and Android platforms."
			/>
			<Card
				href="/webmobile/"
				title="Web Apps / Site Development"
				body=" We build new web applications and support existing ones, tailored to your organization's unique needs. From hosting on popular cloud platforms to developing new features with modern technologies, we provide comprehensive solutions to meet your requirements."
			/>
			<Card
				href="/cloud/"
				title="Cloud Migration"
				body="  We specialize in migrating in-house applications to major cloud platforms. Our expertise includes providing tailored recommendations to optimize performance, focusing on architecture and technical stack adjustments to best fit the needs of the cloud environment."
			/>
			<Card
				href="/applIntegration/"
				title="Application Integration"
				body="We have extensive experience in building and supporting application integrations, connecting your existing web and mobile apps with major ERP, CRM, legacy mainframes, or any other modern third-party applications."
			/>
		</ul>
	
		<h1 data-aos="flip-up" data-aos-delay="300">Industry Expertise</h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="/genai/"
				title="Banking & Finance"
				body="We have decades of Expereince in building solutions for Banking and Finance"
			/>
			<Card
				href="/ml/"
				title="Machine Learning"
				body=" We build and support both new and existing machine learning solutions, ensuring compatibility with platforms endorsed by major software vendors."
			/>
			<Card
				href="/webmobile/"
				title="Mobile App Development"
				body="We develop new mobile apps and support existing ones, tailored to your organization's unique needs on both iOS and Android platforms."
			/>
			<Card
				href="/webmobile/"
				title="Web Apps / Site Development"
				body=" We build new web applications and support existing ones, tailored to your organization's unique needs. From hosting on popular cloud platforms to developing new features with modern technologies, we provide comprehensive solutions to meet your requirements."
			/>
			<Card
				href="/cloud/"
				title="Cloud Migration"
				body="  We specialize in migrating in-house applications to major cloud platforms. Our expertise includes providing tailored recommendations to optimize performance, focusing on architecture and technical stack adjustments to best fit the needs of the cloud environment."
			/>
			<Card
				href="/ApplicationIntegration/"
				title="Application Integration"
				body="We have extensive experience in building and supporting application integrations, connecting your existing web and mobile apps with major ERP, CRM, legacy mainframes, or any other modern third-party applications."
			/>
		</ul>
</div>
<br>
<br>
<Footer />
</body>
</html>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color: white;
	}
	h2 {
		font-size: rem;
		font-weight: 100;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color:white;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(48ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
