
<footer class="bg-black border-gray-200 dark:bg-gray-900 dark:border-gray-700" style="color:white">
  <div class="w-full p-5 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">
          <a href="#" class="flex items-center space-x-4 rtl:space-x-reverse">
              <img src="/images/SINGH-CPA.png" class="h-12" alt="Singh CPA Logo" />
              <span class="self-center text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold whitespace-nowrap dark:text-white">
                Singh CPA Inc. Tax And Accounting Services
              </span> 
            </a>
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-white">
              <li>
                  <a href="/about/" class="hover:underline me-4 md:me-6 text-white">About</a>
              </li>
              <li>
                  <a href="/taxpreparation/" class="hover:underline me-4 md:me-6 text-white">Tax Preparation</a>
              </li>
              <li>
                <a href="/accounting/" class="hover:underline me-4 md:me-6 text-white">Accounting</a>
            </li>
              <li>
                  <a href="/calculator/" class="hover:underline me-4 md:me-6 text-white">Calculators</a>
              </li>
              <li>
                  <a href="/contact/" class="hover:underline text-white">Contact</a>
              </li>
          </ul>
      </div>
      <!-- Full-width underline -->
      <hr class="my-6 border-gray-200 dark:border-gray-700 lg:my-8" />
      <!-- Full-width content -->
      <div class="flex justify-center items-center">
        <span class="text-sm text-gray-500 dark:text-gray-400">&copy; 2025 <a href="https://singhcpainc.com/" class="hover:underline">SinghCPAINC&trade;</a>. All Rights Reserved.</span>
    </div>
    </div>
</footer>