---
---
<html>
  <body style="background-color:powderblue;">

    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <figure>
        <img src="../images/logo.png" alt="Newtronix" width="80" height="70" style="float:inline-start;"/>
         </figure>
      </div>
      <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: powderblue;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: black;
          text-align: center;
          font-size: 125%;
          text-size-adjust: 50;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: white;
        }
        </style>
<ul>
  <div class="navbar">
    <div align="center" style="float:right">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Services</a></li>
        <li><a href="/blog/">Contact Us</a></li>
    </div> 
  </div>
</ul>

</body>
</html>
  